*{
  box-sizing: border-box;
}

html{
  background-color: #006C67;
}

body {
  background-color: #EEF4D4;
  padding: 20px;
  font-size: 16px;
  margin: 30px auto;
  max-width: 1280px
}


h1, h2, h3, p, li {
  color: #003844;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 30px;
}

p{
  font-size: 18px;
}

.menubar {
  padding: 1rem;
  background-color: #DAEFB3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar a {
  display: inline-block;
  min-width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px #006C67;
  text-align: center;
  text-decoration: none;
  color: #006C67;
  font-weight: bold;
}

.menubar a[aria-current = "page"]{
  font-weight: bold;
  color: #EA9E8D;
  background-color: #EEF4D4;
  border: solid 2px #EA9E8D;

}

a:link {
  color: #006C67;
}

.footer {
  text-align: center;
  background: #DAEFB3;
}

table, th, td {
  border: 2px solid #006C67;
  border-collapse: collapse;
}

table{
  margin: 15px;
  max-width: 1100px;
  font-size: 18px;
}

th {
  background-color: #DAEFB3;
}

th, td {
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  margin: 10px auto 20px;
  display: block;
}
