*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to left,#006C67,#A0FFD4);
  font-size: 16px;
  margin: 30px auto;
  max-width: 1280px
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

h1, h2, h3, p, li {
  color: #003844;
  font-family: Radis sans, Gotham, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 270px;
}

h2 {
  padding-top: 30px;
}

p, li{
  font-size: 18px;
}

/*menubar*/
.menubar {
  padding: 0.5rem;
  background: linear-gradient(to right,#A0FFD4, #EEF4D4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.menubar a {
  display: inline-block;
  min-width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px #006C67;
  text-align: center;
  text-decoration: none;
  color: #006C67;
  font-weight: bold;
}

.menubar a:hover {
  border: solid 2px turquoise;
}


.menubar a:link {
  color: #006C67;
}

.menubar a[aria-current = "page"]{
  font-weight: bold;
  color: #EA9E8D;
  background-color: #EEF4D4;
  border: solid 2px #EA9E8D;
}

.menubarTechnologies{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menubarTechnologies a {
  display: inline-block;
  min-width: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px #006C67;
  text-align: center;
  text-decoration: none;
  color: #006C67;
  font-weight: bold;
}

.menubarTechnologies a:hover {
  border: solid 2px turquoise;
}

.menubarTechnologies a[aria-current = "page"]{
  font-weight: bold;
  color: #EA9E8D;
  background-color: #EEF4D4;
  border: solid 2px #EA9E8D;
}

a:link {
  color: black;
}

.footer {
  text-align: center;
  background: linear-gradient(to right,#A0FFD4, #EEF4D4);
}

/*tables*/
table, th, td {
  border: 2px solid #006C67;
  border-collapse: collapse;
}

table{
  margin: 15px;
  max-width: 1100px;
  font-size: 18px;
}

th {
  background-color: #DAEFB3;
}

th, td {
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  margin: 10px auto 20px;
  display: block;
}

/*dropdown menu*/
.dropdown {
  position: absolute;
  text-align: center;
  font-size: 14px;
  display: none;
  padding: 0;
}

.dropdown ul {
  padding: 0px;
  margin: 0px;
  min-width: 200px;
  list-style: none;
  border-bottom: 1px solid #000;
}

.dropdown ul li {
  padding: 10px 10px 10px 10px;
  border: 1px solid #006C67;
  text-align: left;
  border-radius: 0.5rem;
}

.dropdown ul li:nth-child(even) {
  background: #DAEFB3;
}

.dropdown ul li a {
  text-decoration: none;
  color: #006C67;
}

.button {
  background-color: #DAEFB3;
  border: solid 2px #006C67;
  color: #006C67;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown ul li:hover {
  color: #EA9E8D;
  background-color: #EEF4D4;
  border: solid 2px #EA9E8D;
  border-radius: 0.5rem;
}

.button:hover+.dropdown, .dropdown:hover {
  display: block;
}


/*scrollbar*/
::-webkit-scrollbar {
  width: 15px;
}

::webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #DAEFB3 15%, #003844 84%);
  border-radius: 10px;
}

/*parallax effect*/
.demo-wrapper {
  min-height: 500px;
}

.bsap_1280449 {
  position: absolute;
  top: 0;
  right: 0;
}

.parallax [class*="bg__"] {
  height: 100px;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.parallax [class*="bg__"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}
.parallax .bg__foo, .parallax .bg__bazz {
  height: 30vh;
}
.parallax .bg__foo {
  background-image: url(https://i.ibb.co/1TMt8km/Leaves.jpg);
}
.parallax .bg__bar {
  background-image: url(https://i.ibb.co/3m2BNsk/Leaves-Grey.jpg);
}
.parallax .bg__baz {
  background-image: url(https://i.ibb.co/1TMt8km/Leaves.jpg);
}

.parallax .bg__break {
  box-shadow: inset 0 0 1em #111;
  background-image: url(https://i.ibb.co/1TMt8km/Leaves.jpg);
}
.parallax .capture {
  float: right;
  width: 200px;
  padding: 1em;
  margin: -1.5em 1em 0 0;
  text-indent: 0;
  box-shadow: 0 1px 0.125em #333;
}

article .container {
  width: 600px;
  margin: 0 auto;
}
article .header {
  position: relative;
  text-align: left;
  font-size: 2em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
}

article section.parallax {
  margin: 0;
  padding: 0;
}

#frame {
  width:960px;
  margin: 0 auto;
}
