body {
  background-color: #EEF4D4;
  padding: 20px;
  font-size: 16px;
  margin: 30px auto;
  max-width: 1280px
}

h1, h2, h3, p {
  color: #003844;
}

.menubar {
  padding: 25px 35px;
  background: #DAEFB3;
  border-bottom: 2px solid #DAEFB3;
}

a:link {
  color: #006C67;
}

a:visited {
  color: #EA9E8D;
}

.footer {
  text-align: center;
  background: #DAEFB3;
}

table, th, td {
  border: 2px solid #006C67;
  border-collapse: collapse;
}

th {
  background-color: #EA9E8D;
}

th, td {
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
